# En Vite, VITE_API_URL queda disponible para el frontend.
# Tambien se acepta API_URL desde la configuracion de Vite.
VITE_API_URL=http://internal-balanceador-interno-843192543.us-east-1.elb.amazonaws.com
